/* src/components/Header.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 100%;
}

.searchBar {
    margin: 0 auto;
}

.hiddenDiv {
    width: 120px;
    visibility: hidden;
}
